@use "../global" as *;

.l-info {
  position: absolute;
  top: 0.8rem;
  left: 4rem;
  z-index: 30;
  max-width: 60rem;
  color: $color-white;     // 暗い MV 上に白文字

  &__text {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0;
  }
}
